@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-money bg-repeat bg-[length:200px] font-sans text-lg;
  }

  h1 {
    @apply font-bold text-mxl;
  }
}

@layer components {
  @keyframes auto-resizing {
    from {
      font-size: xx-small;
    }

    to {
      font-size: xx-large;
    }
  }

  .auto-resizing {
    animation-name: auto-resizing;
    animation-iteration-count: infinite;
  }
}
